# VS Code
.dist
.vscode

# DS
.DS_Store
*/.DS_Store

# Virtual environment
env/
venv/
.venv
.conda
.ipynb_checkpoints
.ipynb_checkpoints/

# Python bytecode cache
__pycache__/
*.pyc

# TensorFlow logs
milestones/training_logs/
milestones/model_checkpoints/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets
milestones/datasets/food*

# Other common ignores
*.log
*.tmp
